
/* Style for Usual tabs */
.usual {
  color:#111;
  padding:15px 20px;
  /*border:1px solid #CCCCCC;
  background:#FCFCFC;
  border-radius:5px;*/
  margin:8px auto;
}
.usual li { list-style:none; float:left; }
.usual ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:0px;
  margin-left:3px;
  font:24px Comic Sans MS;
  color:#FFF;
  background:#AAA;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.usual ul a:hover {
  color:#FFF;
  background:#0050AA;
  }
.usual ul a.selected {
  margin-bottom:0;
  color:#FFF;
  background:#0070FF;
  cursor:default;
  }
div.usual {
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  /*background:#FCFCFC;*/
  border:1px solid #CCCCCC;
  border-radius:5px;
  font:12px Comic Sans MS;
}
.usual div a { color:#000; font-weight:bold; }