
/* Style for Usual tabs */
body{
	background-color:#FFFFFF;
}
nav{
	background-color:#0070FF;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px;
	font-size:36px;
	font-weight:bold;
	border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.content{
	border:1px solid #CCCCCC;
	border-top:1px solid #0070FF;
	border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.usual {
  color:#111;
  padding:0px;
  /*border:1px solid #CCCCCC;
  background:#FCFCFC;
  border-radius:5px;*/
  margin:0 auto;
}
.ulcontain{
	background-color:#0070FF;
}
.usual ul{
	padding:0px;
	margin:0px;
}
.usual li { list-style:none; float:left; }
.usual ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:0px;
  margin-right:10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  color:#FFF;
  background:#AAA;
  border-radius:5px;
}
.usual ul a:hover {
  color:#FFF;
  background:#0050AA;
  }
.usual ul a.selected {
  margin-bottom:0;
  color:#FFF;
  background:#0070FF;
  cursor:default;
  }
div.usual {
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  /*background:#FCFCFC;*/
  *border:1px solid #CCCCCC;
  *border-radius:5px;
}
div.buttons {
	float:right;
}
div.buttons a {
	color:#FFF;
	margin-right:10px;
	padding:5px;
	font-size:20px;
	background-color:#00AAFF;
	border-radius:5px;
}